<!-- <div class="jumbotron">
  <h1>Project Planner</h1>

  <a class="btn btn-md btn-primary" style="margin-right:5px;" routerLink="/landing-page" role="button">Create
    Project</a>
  <a class="btn btn-md btn-primary" routerLink="/project-list" role="button">View Projects</a>
</div>
<div>
  <div class="row">
    <a class="title pad-left-right col-xs-7" routerLink="/project-page"><button>Create New Project</button></a>
  </div>
</div>
<div class="footer navbar-bottom">
  <h6>Jesse Jensen | BYU-Idaho 2021</h6>
</div> -->
