<div class="jumbotron">
  <h1>Project Planner</h1>

  <a class="btn btn-md btn-primary" style="margin-right:5px;" routerLink="/landing-page" role="button">Create Project</a>
  <a class="btn btn-md btn-primary" routerLink="/project-list" role="button">View Projects</a>
</div>
<div class="panel panel-default">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <a routerLink="/project-page"><button class="title pad-left-right col-xs-7">Create New Project</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
