<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <a class="btn btn-success pull-right" [routerLink]="['new']">New Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" *ngFor="let contact of contacts">
      <app-contact-item class="col-xs-12 panel-body" [contact]="contact"
      dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"></app-contact-item>
    </div>
  </div>
</div>
