
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel panel-heading">
              <div class="row">
                <span class="title pad-left-right"><h2>Contacts</h2></span>
              </div>
              <div class="row">
                <button class="btn btn-success">New Contact</button>
              </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
              </div><app-contact-item (selectedContactEvent)="onSelected(contact)"></app-contact-item>
                    <a href="#" class="list-group-item clearfix"
                    *ngFor="let contacts of contact">
                      <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ contacts.id }}</h4>
                        <p class="list-group-item-text">{{ contacts.name }}</p>
                        <!-- <p class="list-group-item">{{ contacts.email}}</p>
                        <p class="list-group-item">{{ contacts.phone}}</p>
                        <p class="list-group-item">{{ contacts.group}}</p> -->
                      </div>
                    <span class="pull-right">
                      <img src="{{ contacts.imageUrl }}" alt="{{ contacts.name }}" class="img-responsive" style="max-height: 50px;">
                    </span>
                    </a>
                    <app-contact-detail></app-contact-detail>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
