<div class="jumbotron">
  <h1>Lego Inventory Project</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a class="navbar-brand" routerLink="/inventory">Inventory</a>
          </li>
          <li routerLinkActive="active">
            <a class="navbar-brand" routerLink="/project-page">Project Notes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Project Notes</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input type="text" class="form-control" placeholder="Enter piece Information">
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success">Add a Note</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer navbar-fixed-bottom">
        <h6 class="pull-right pad-left-right">Jesse Jensen | BYU-Idaho 2021</h6>
      </div>
    </div>
  </div>
