<div class="jumbotron">
  <h1>Project Planner</h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a class="navbar-link" routerLink="/inventory">Item Page</a>
          </li>
          <li routerLinkActive="active">
            <a class="navbar-link" routerLink="/project-page">View Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<button type="button" class="btn btn-danger pull-right">Delete</button> <button type="button" class="btn btn-primary pull-right">Save</button>
<div class="panel panel-default">
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
          </div>
          <!-- <div class="row"> -->
          <div class="input-group pull-left-right col-xs-7">
              <span class="title pad-left-right col-xs-7">
                <h4>Name: </h4><input type="text" class="title" placeholder="Name" required>
                <h4>Description: </h4><textarea rows="6" cols="50" class="title" placeholder="pieces needed, project notes, etc." required></textarea>
                <h5>Start Date: </h5>
                <h5>End Date: </h5>
                <h5>Status: </h5>
                <select name="cars" id="cars">
                  <option value="started">Started</option>
                  <option value="progress">Work in progress</option>
                  <option value="finished">Finished</option>
                  <option value="delayed">Not Actively Working</option>
                </select>
                <h4>Images: </h4> <button>Add Image</button>
                <h4>Inventory: </h4> <button> Add Item </button>

                <a routerLink=""></a>
              </span>
          </div>
          <div class="footer navbar-fixed-bottom">
            <h6>Jesse Jensen | BYU-Idaho 2021</h6>
          </div>
          <!-- </div> -->
        </div>
        <div class="footer navbar-fixed-bottom">
        </div>
      </div>
    </div>
  </div>
