<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Project Planner</h1>
      
        <a class="btn btn-md btn-primary" style="margin-right:5px;" routerLink="/project-page/:id" role="button">Create
          Project</a>
        <a class="btn btn-md btn-primary" routerLink="/project-list" role="button">View Projects</a>
      </div>
      <router-outlet></router-outlet>


      <div class="footer navbar-bottom">
        <h6>Jesse Jensen | BYU-Idaho 2021</h6>
      </div>    </div>
  </div>
</div>

