<div class="jumbotron">
  <h1>Project Planner</h1>

  <a class="btn btn-md btn-primary" style="margin-right:5px;" routerLink="/landing-page" role="button">Create
    Project</a>
  <a class="btn btn-md btn-primary" routerLink="/project-list" role="button">View Projects</a>
</div>
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
      </div>
      <div class="modal-header">
        <h3>View and Edit Your Projects</h3>
      </div>
      <div class="modal-body">
        <app-project-data></app-project-data>
      </div>
    </div>
    <div class="footer navbar-bottom">
      <h6>Jesse Jensen | BYU-Idaho 2021</h6>
    </div>
  </div>
</div>
